/* contains styling for services.html */

@import "./style.css"; /* base css styling*/
@import "./aboutus.css"; /* about us page styles */

.main__content__paragraph__list{
    margin-top: var(--margin-mid);
    font-size: var(--font-size-big);
}

.main__content__paragraph__list__inner > .list > .list__label{
    font-weight: var(--font-weight-big);
}

.main__content__paragraph__list__inner > .list > .list__content{
    margin: 0 var(--margin-mid);
    margin-top: var(--margin-small);
}

.main__content__paragraph__list__inner > .list > .list__content > li:not(:first-child){
    margin-top: var(--margin-small);
}