/* this is the base css file all pages will use */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* colors */
    --color-primary: #D40029;
    --color-primary-light: #e1251a;
    
    --color-secondary: #fbe201;
    --color-secondary-light: #726925;

    /* margin */
    --margin-small: 15px;
    --margin-mid: 30px;
    --margin-large: 45px;
    
    /* background */
    --color-bg-main: #efeff0;
    --color-bg-light: #f2f2f2;
    --color-bg-mid: #373536;

    /* fonts */
     /* weight */
    --font-weight-normal: 400;
    --font-weight-mid:500;
    --font-weight-big: 700;
    --font-weight-bigger:800;
    /*family*/
    --font-family-default: 'Open Sans', sans-serif;
    /*size*/
    --font-size-small: 13px;
    --font-size-normal: 16px;
    --font-size-big: 21px;
    --font-size-bigger: 28px;
    --font-size-extreme: 35px;
    /*color*/
    --font-color-normal: rgb(36, 36, 36);
    --font-color-light: #ffffff;

    /* elements */
    --max-section-width: 1000px;
    --max-header-footer-width: 1240px;

    /* svg sizes */
    --svg-size-small: 25px;
    --svg-size-mid: 32px;
}

html{
    height: 100%;
    overflow-x: hidden;
}

body{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-family-default);
}

/* buttons, links, input element styles */

    /* default text styles */
    .heading{
        font-weight: var(--font-weight-bigger);
    }
    
    .heading_small{
        font-size: var(--font-size-bigger);
    }
    
    .heading_big{
        font-size: var(--font-size-extreme);
    }

    /* link-btn is a link element that is styled to look like a button */
.link-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 60px;
    width: auto;
    transition: background-color 0.15s ease-in-out;
}

.link-btn_filled{
    font-size: var(--font-size-bigger);
    background-color: var(--color-primary-light);
    color: var(--font-color-light);
    outline: 1px solid currentColor;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.192);
    padding: 0 35px;
}

.link-btn_filled:hover{
    color: var(--font-color-normal);
    background-color: var(--font-color-light);
}

.link-btn_hollow{
    background-color: transparent;
    color: var(--font-color-normal);
    border: 1px solid currentColor;
    border-radius: 6px;
    font-weight: var(--font-weight-big);
    padding: 37px 35px;
}

.link-btn_hollow:hover{
    color: var(--font-color-light);
    background-color: var(--color-primary-light);
    border: 1px solid var(--font-color-normal);
}

    /* footer link style */
.link_footer{
    color: var(--font-color-light);
    text-decoration: none;
    font-weight: var(--font-weight-mid);
}

.link_footer:hover{
    color: var(--color-secondary);
}

    /* default button styles */
.button{
    border: none;
    cursor: pointer;
}
    /* this is a button that contains an icon inside */
.button_icon{
    background-color: transparent;
    display: flex;
    align-items: center;
    height: var(--svg-size-mid);
    color: var(--color-secondary-light);
}

.button_icon > svg{
    height: 100%;
    fill: currentColor;
    pointer-events: none;
}

.button_icon_clickable{
    color: var(--color-secondary);
}

.paragraph{
    font-size: var(--font-size-big);
}

/* HEADER */
.header{
    width: 100%;
    padding: 0 15px;
    background-color: white;
    overflow: hidden;
}
.header__inner{
    width: 100%;
    height: 78px;
    max-width: var(--max-header-footer-width);
    display: flex;
    position: relative;
}
.header__logo{
    height: 100%;
    padding: 10px 0;
}
.header__logo__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
}

.logo-container{
    overflow: hidden;
    height: 100%;
}

.logo-container > .logo {
    height: 250%;

}
.header__content{
    flex: 1;
    height: 100%;
}
.header__content__inner{
    height: 100%;
}
.header__content__menu-btn{
    height: 100%;
}
.header__content__menu-btn__inner{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__content__menu-btn__inner > button{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* header media query */
@media screen and (min-width:800px){

    .header{
        display: flex;
        justify-content: center;
    }

    .header__inner{
        padding: 10px 15px;
        height: 120px;
    }

    .header__logo__inner{
        width: 110px;
    }

    .header__content__inner{
        display: flex;
        justify-content: flex-end;
    }

    .header__content__menu-btn{
        display: none;
    }

    .header__content__nav{
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-weight: var(--font-weight-big);
    }

    .header__content__nav__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    
    .header__content__nav__contact{
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    }
    .header__content__nav__contact__inner > .contact-links{
        font-size: var(--font-size-small);
        list-style: none;
        display: flex;
        align-items: center;
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-item{
        padding: 10px 0;
        margin-left: var(--margin-small);
        display: flex;
        align-items: center;
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-item > a {
        display: flex;
        align-items: center;
        color: var(--font-color-normal);
        text-decoration: none;
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-item > a:hover{
        color: var(--color-primary);
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-item > a > .label{
        margin-left: 3px;
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-phone > a{
        color: var(--color-primary) !important;
    }
    .header__content__nav__contact__inner > .contact-links > .contact-link-phone > a > .label{
        font-size: var(--font-size-big);
    }

    .header__content__nav__site-links{
        color: var(--font-color-normal);
        width: 65%;
        max-width: 520px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    .header__content__nav__site-links__inner{
        width: 100%;
    }
    .header__content__nav__site-links__inner > .site-links{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .header__content__nav__site-links__inner > .site-links > .site-links-item > a {
        color: var(--font-color-normal);
        text-decoration: none;
    }

    .header__content__nav__site-links__inner > .site-links > .site-links-item > a:hover{
        color: var(--color-primary);
    }
}




.footer{
    background-color: var(--color-bg-mid);
    display: flex;
    justify-content: center;
    color: var(--font-color-light);
    padding: 0 var(--margin-small);
}

.footer__inner{
    width: 100%;
    max-width: var(--max-header-footer-width);
    margin: var(--margin-large) 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
}

.footer__inner > div:not(:first-child){
    margin-top: var(--margin-large);
    /*border: 1px solid purple; */
    width: 100%;
}

.footer__logo{
    width: 350px;
}

.footer__logo__inner{
    display: flex;
    flex-direction: column;
}

.footer__logo__content{
    height: 200px;
}



.footer__logo__content__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo__contact{
    margin-top: var(--margin-small);
}

.footer__logo__contact__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo__contact__inner > .label{
    font-weight: var(--font-weight-mid);
}

.footer__logo__contact__inner > .number{
    font-size: var(--font-size-bigger);
    color: var(--color-secondary);
}

.footer__links{
    display: flex;
    justify-content: center;
}

.footer__links__inner{
    width: 100%;
    max-width: 280px;
    text-align: center;
}

.footer__links__content{
    font-weight: var(--font-weight-normal);
    margin-top: var(--margin-small);
}

.footer__links__content__inner > *:not(:first-child){
    margin-top: 5px;
}

.footer__social-media{
    display: flex;
    justify-content: center;
}

.footer__social-media__inner{
    width: 100%;
    max-width: 280px;
    text-align: center;
}

.footer__social-media__content{
    margin-top: var(--margin-small);
}

.footer__social-media__content__inner > *:not(:first-child){
    margin-top: 5px;
}

/* footer media query */
@media screen and (min-width:800px){
    .footer__inner{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
